#coloresme{
    background: #4B021F;
}
#colorvi{
    background: #F7DC6F;
    border: #F7DC6F;
}

.img-login-m{
    height: 90%;
    width: 90%;
    margin-top: 5%;
    }

.bg-btn-block{
    border-radius: 50px;
    height: 45px;
}

#coloricon{
    color: #4B021F;
}
#img-card{
    float: left;
    margin-right: 5px;;
    max-width:25%;
    max-height:25%;
}

#color-for{
    background: #ffffff;
    border-radius: 5px;
}

#bg-table{
    background: #ffffff;
}

.login-b{
    margin-top: 15vh;
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 0px #0000;
}
.icon-login{
    text-align: center;
}
.icon-login i{
    font-size: 80px;
}
.input-group-text{
    border-radius: 10px;
}
.form-registro{
    background: #fff;
    border: salmon;
    border-radius: 10px;
    margin-top: 5vh;
}